@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.ttf'); /* IE9 */
  src: url('../iconfont/iconfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.ttf') format('woff2'),
  url('../iconfont/iconfont.ttf') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../iconfont/iconfont.ttf') format('svg'); /* iOS 4.1- */
}

[class^="el-icon-xy"], [class*=" el-icon-xy"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e606";
}

.icon-fenlei-copy:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e677";
}

.icon-shouye2:before {
  content: "\e681";
}

.icon-3gouwuche:before {
  content: "\e60a";
}

.icon-dingdan:before {
  content: "\e62a";
}

.icon-xiadan:before {
  content: "\e7c5";
}

.icon-dingdan-:before {
  content: "\e637";
}

.icon-ICON-search:before {
  content: "\e612";
}

.icon-fanhui:before {
  content: "\e604";
}

.icon-gouwuche:before {
  content: "\e67c";
}

.icon-wode:before {
  content: "\e605";
}

.icon-wodedangxuan:before {
  content: "\e600";
}

.icon-xiadan2:before {
  content: "\e602";
}

.icon-dianhua:before {
  content: "\e609";
}

.icon-hongbao:before {
  content: "\e7d5";
}

.icon-shijian:before {
  content: "\e630";
}

.icon-daizhifu:before {
  content: "\e651";
}

.icon-cancel:before {
  content: "\e629";
}

.icon-dizhi:before {
  content: "\e607";
}

.icon-jin_fill:before {
  content: "\e679";
}

.icon-lajitong:before {
  content: "\e62f";
}

.icon-dingdanguanli:before {
  content: "\e65b";
}

.icon-zhifubao:before {
  content: "\e62e";
}

.icon-weibiaoti-:before {
  content: "\e60d";
}

.icon-youhuiquan:before {
  content: "\e613";
}

.icon-dingdanzhuangtai-daijiedan:before {
  content: "\e6a8";
}

.icon-zhaopian:before {
  content: "\e603";
}

.icon-dingdangenzong:before {
  content: "\e622";
}

.icon-jinru:before {
  content: "\e624";
}

.icon-bianji:before {
  content: "\e614";
}

.icon-huoche:before {
  content: "\e6ce";
}

.icon-repair-line:before {
  content: "\e6eb";
}

.icon-benzhou:before {
  content: "\e64e";
}

.icon-shouru:before {
  content: "\e60e";
}

.icon-duoxuanxuanzhong:before {
  content: "\e634";
}

.icon-dingdan1:before {
  content: "\e76f";
}

.icon-dizhi1:before {
  content: "\e65c";
}

.icon-yinsitiaokuan:before {
  content: "\e695";
}

.icon-yue:before {
  content: "\e633";
}

.icon-cangku:before {
  content: "\e660";
}

.icon-daiwancheng:before {
  content: "\e664";
}

.icon-weixin:before {
  content: "\e654";
}

.icon-shezhi:before {
  content: "\e691";
}

.icon-bangzhuyufankui-zqr-:before {
  content: "\e616";
}

